.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 20%;
}

.nav {
    width: 80%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.regFields {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.addBtn,
.facebookBtn {
    display: block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
    margin: 10px auto;
    transition: 0.5s;
}

.addBtn:hover,
.facebookBtn:hover {
    background: #8ca9e9;
    color: white;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.userImage {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.changer {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.addPhotoBtn {
    display: block;
    margin-left: auto;
    background: none;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    font-weight: bold;
    outline: none;
    transition: 0.5s;
}

.add {
    display: block;
    margin: 20px auto;
    background: none;
    border: 1px solid black;
    width: 60px;
    height: 20px;
    font-weight: bold;
    outline: none;
    transition: 0.5s;
}

.addPhotoBtn:hover,
.add:hover {
    border: 1px solid #1092e9;
    background: #1092e9;
    color: white;
}

.createPhoto {
    width: 600px;
    margin: 0 auto;
}

.createField {
    width: 400px;
}

.imagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.modal {
    position: fixed;
    border: 1px solid black;
    width: 450px;
    height: 480px;
    top: 10%;
    right: 33.2%;
    background: white;
}

.closeBtn {
    display: block;
    margin: 8px auto 0;
}

.modal img {
    display: block;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}

.img {
    width: 21%;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.img img {
    display: block;
    width: 210px;
    margin: 0 auto;
    border: 1px solid black;
}

.author {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.deleteBtn {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}